.animation::after
{
    content: "|";
    animation: typing 10s infinite;
}
@keyframes typing
{
    0%{content: "|";}
    1%{content: "|";}
    2%{content: "|";}
    3%{content: "D|";}
    4%{content: "De|";}
    5%{content: "Des|";}
    6%{content: "Desi|";}
    7%{content: "Desig|";}
    8%{content: "Design|";}
    9%{content: "Designe|";}
    10%{content: "Designer|";}
    11%{content: "Designer|";}
    12%{content: "Designer|";}
    13%{content: "Designer|";}
    14%{content: "Designer|";}
    15%{content: "Designe|";}
    16%{content: "Design|";}
    17%{content: "Desig|";}
    18%{content: "Desi|";}
    19%{content: "Des|";}
    20%{content: "De|";}
    21%{content: "Dev|";}
    22%{content: "Deve|";}
    23%{content: "Devel|";}
    24%{content: "Develo|";}
    25%{content: "Develop|";}
    26%{content: "Develope|";}
    27%{content: "Developer|";}
    28%{content: "Developer|";}
    29%{content: "Developer|";}
    30%{content: "Developer|";}
    31%{content: "Developer|";}
    32%{content: "Developer|";}
    33%{content: "Developer|";}
    34%{content: "Developer|";}
    35%{content: "Develope|";}
    36%{content: "Develop|";}
    37%{content: "Develo|";}
    38%{content: "Devel|";}
    39%{content: "Deve|";}
    40%{content: "Dev|";}
    41%{content: "De|";}
    42%{content: "D|";}
    43%{content: "|";}
    44%{content: "F|";}
    45%{content: "Fr|";}
    46%{content: "Fre|";}
    47%{content: "Free|";}
    48%{content: "Freel|";}
    49%{content: "Freela|";}
    50%{content: "Freelan|";}
    51%{content: "Freelanc|";}
    52%{content: "Freelance|";}
    53%{content: "Freelancer|";}
    54%{content: "Freelancer|";}
    55%{content: "Freelancer|";}
    56%{content: "Freelancer|";}
    57%{content: "Freelancer|";}
    58%{content: "Freelancer|";}
    59%{content: "Freelancer|";}
    60%{content: "Freelancer|";}
    61%{content: "Freelance|";}
    62%{content: "Freelanc|";}
    63%{content: "Freelan|";}
    64%{content: "Freela|";}
    65%{content: "Freel|";}
    66%{content: "Free|";}
    67%{content: "Fre|";}
    68%{content: "Fr|";}
    69%{content: "F|";}
    70%{content: "|";}
    71%{content: "P|";}
    72%{content: "Ph|";}
    73%{content: "Pho|";}
    74%{content: "Phot|";}
    75%{content: "Photo|";}
    76%{content: "Photog|";}
    77%{content: "Photogr|";}
    78%{content: "Photogra|";}
    79%{content: "Photograp|";}
    80%{content: "Photograph|";}
    81%{content: "Photographe|";}
    82%{content: "Photographer|";}
    83%{content: "Photographer|";}
    84%{content: "Photographer|";}
    85%{content: "Photographer|";}
    86%{content: "Photographer|";}
    87%{content: "Photographer|";}
    88%{content: "Photographer|";}
    89%{content: "Photographe|";}
    90%{content: "Photograph|";}
    91%{content: "Photograp|";}
    92%{content: "Photogra|";}
    93%{content: "Photogr|";}
    94%{content: "Photog|";}
    95%{content: "Photo|";}
    96%{content: "Phot|";}
    97%{content: "Pho|";}
    98%{content: "Ph|";}
    99%{content: "P|";}
    100%{content: "|";}
}